<%= form_for([@animal, @comment]) do |f| %>
   <%= f.text_area :body, size: "50x3", placeholder: "Enter Comment..." %>
   <button type="submit" class="comment-button"<%= f.submit "Submit" %>Submit</button>
<% end %>
