<!-- Print out all of the errors if there are any -->
<!-- #  id              :integer          not null, primary key
#  email           :string
#  first_name      :string
#  last_name       :string
#  mobile          :text
#  admin           :boolean          default(FALSE)
#  password_digest :text
#  created_at      :datetime         not null
#  updated_at      :datetime         not null -->
<% unless @user.errors.full_messages.empty? %>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<div class = "login">
  <div class = "form">
    <h1>Your new pet is one step away!</h1>
    <%= render :partial => 'form' %>
  </div>
</div>
