
<!-- Replace the value of the key parameter with your own API key. -->
<nav><%= link_to "All animals", animals_path %></nav>


<h3>Contact Details :</h3>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.mobile %></p>
