<h1>All animals for sale</h1>
<div class='animal_image'>

<% @animals.each do |w| %>
  <p class "thumbnail">
    <%if w.images.present?%>
      <%= link_to(cl_image_tag(w.images[0]), animal_path(w)) %>
    <%else%>
        Image not available
    <%end%>
  </p>
<% end %>
</div>
