.heading_animal {
  text-align: center;
  font-family: Lobster;
  position: absolute;
  top: -3%;
  left: 39%;
}

body {
  background-color: rebeccapurple;
}

.animal_details {
  position: absolute;
  top: 60%;
  left: 3%;
}

.animal_display_image {
  position: absolute;
  height: 160%;
  width: 55%;
  left: 45%;
  top: -140%;

}
img {
  position :absolute;
  height: 30%;
  width: 20%;
  left:2%;
  top:10%;
}
