@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#map {
  height: 200px;
  weight: 200px;
}

.pet-image {
  img {
  display: block;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  border: 2px solid black;
  }
}
.navbar-brand {
	font-weight: bolder;
}

.form {
	@extend .center-block;
  position: relative;
  z-index: 1;
	padding: 30px;
  max-width: 500px;
	display: 50% 50%;
  text-align: center;
	background: linear-gradient(
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.3)
	);
	border-radius: 2%;
}

.search-form {
  position: relative;
  z-index: 1;
  padding: 30px;
  display: 50% 50%;
  text-align: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 2%;
}

.search-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 30%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input.search-form-distance {
  width: 10%;
}
.search-form-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: none;
  width: 2%;
  cursor: pointer;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
.search-form button:hover,.search-form button:active,.search-form button:focus {
  background: none;
	text-decoration: #43A047;
}
.comment-form {
  @extend .form;
  margin-bottom: 10%;
}

.comment-form .comment-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 30%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.animal-search {
  @extend .form;
  margin-top: 0;
  position: relative;
  z-index: 1;
  padding: 5px;
  text-align: left;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 2%;
}
.form h1 {
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
	color: white;
	font-weight: bolder;
}

.form h4 {
	color: white;
	font-weight: bold;
}

.form p {
	color: white;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
	text-decoration: none;
}

.form a {
  color: white;
  text-decoration: none;
}
.form .message {
  margin: 15px 0 0;
  color: white;
	font-weight: bold;
  font-size: 15px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.show-form {
	@extend .form;
	color: #FFFFFF;
  font-size: 15px;
	font-weight: bold;
	text-align: left;
}

.action-button {
	color: #FFFFFF;
  font-size: 15px;
	padding: 10px;
	background: #4CAF50;
	font-weight: bolder;
}

.user-details h4{
	color: white;
	font-size: 20px;
	font-weight: bolder;
}

.user-details button {
	font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 30%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.user-details a {
  color: white;
  text-decoration: none;
}

.row {
	text-align: center;
}

.row h1 {
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
	color: white;
	font-weight: bolder;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

body {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url('background.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
	-o-background-size: cover;
	height: 100vh;
	position:relative;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 200px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
	@extend .navbar-fixed-bottom;
  padding: 1rem;
  background-color: #222222;
  text-align: center;
	height: 7.5%;
	color: white;
}
.alert-error {
  @extend .alert-danger;
}

.alert-success {
  @extend .alert-success;
}
