.login{
  color: bla;
  width: 500px;
  height: 600px;
  border: solid;
  /*add any other properties you want to style*/
}
.login_details {
  color: #bbbbbb;
  width: 30%;
  padding: 2% 2% 2% 2%;
  border: solid;
  border-radius: 2%;
  position: absolute;
  top: 30%;
  left: 35%;
  background: green;
}
