.login{
  color: bla;
  width: 500px;
  height: 600px;
  border: solid;
  /*add any other properties you want to style*/
}
.login_details {
  color: #bbbbbb;
  width: 30%;
  padding: 2% 2% 2% 2%;
  border: solid;
  border-radius: 1%;
  position: absolute;
  top: 30%;
  left: 35%;
  background-color:rgba(0, 0, 0, 0.3);
  filter: alpha(opacity=50)
}
.header_line {
  width: 100%;
  height: 12%;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.18;
}
.login_error {
  position: absolute;
    top: 63%;
    left: 41%;
    color: red;
}
